<%= render "shared/header" %>

<div class='main'>
  <div class="item-contents">
      <h1 class="title">アイテム一覧</h1>
      <ul class='item-lists'>

      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to  root_path(item) do  %>
        <div class='item-img-content'>
          <%= image_tag item.image.variant(resize: '500x500'), class: "item-img" if item.image.attached? %>
        </div>
        <div class='item-info'>
          <h2 class='item-name'>
            <%= item.item_name %>
          </h2>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.shipping_burden.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %> 
      </li>
      <% end %> 
    </ul>
  </div>

</div>

<%= link_to image_tag('recommend.png', size: '150x150' , class: 'recommend-btn'),'/items/new' %>
<%= link_to image_tag('recommended.png', size: '150x150' , class: 'recommended-btn'),'/items/new' %>

<%= render "shared/footer" %>
