<%= render "shared/header" %>
<body>
<div class='main'>
  <div class="item-contents">
      <h2 class="title">オススメアイテム一覧</h2>
      <ul class='item-lists'>

      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to  item_path(item) do %>
          <div class='item-img-content'>
           <%= image_tag item.image.variant(resize: '200x200'), class: "item-img" if item.image.attached? %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.item_name %>
            </h3>
            <div class='item-category'>
              <%= item.category.name %>
            </div>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
              </div>
            
          </div>
        <% end %> 
      </li>
      <% end %> 
    </ul>
  </div>
</div>
</body>

<%= link_to image_tag('register.png', size: '150x200' , class: 'register-btn'),'/items/new' %>

<%= render "shared/footer" %>
